.main{
    display: flex;
}
.aside{
    background-color: #30115E;
    min-height: 100vh;
    width: 25%;
}
.aside-content{
    position: sticky;
    top: 0;
}
.logo{
    width: 200px;
}
.bx-category-alt{
    margin-right: 10px;
}
.nav-item a{
    color: whitesmoke;
    display: block;
    text-decoration: none;
    padding: 8px 20px;
}
.nav-item a.active{
    background-color: rgb(32, 6, 66);
    border-left: 6px solid magenta;
}
.header{
    padding: 15px 15px;
    background-color: rgba(200, 201, 201, 8.4);
    position: sticky;
    top: 0;
}
.right-side{
    width: 75%;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
    display: block;
}
.content{
    padding: 30px;
}